/* Wildcard Selectors - Removes default styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Content */
header{
    background-color: aqua;
}

/* Main Content */
main{
    background-color: whitesmoke;
}

/* Footer Content */
footer{
    background-color: gray;
}